mixin catalog-categoty(data)

    -
        // default mixin state
        // you can use usv lib to choose
        // random value, and generate temp data
        // see README for detail

        var data = USV.prepare(data, {
            title: USV.oneOf([
                "Телевизоры", "Шкафы", "Книги"
            ])
        })

    .category

        h3.title #{data.title}
        .products
            +catalog-product
            +catalog-product
            +catalog-product