mixin catalog-categoty(data)
    .category

        h3.title #{data.title}
        .products

            +catalog-product({title: "Iphone4", price: 400})
            +catalog-product({title: "Nokia 3310", price: 150})
            +catalog-product({title: "Samsung 92", price: 300})